body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: silver;
}
#contenido {
  width: 99%;
  height: 98%;
  overflow: auto;
  position: absolute;
  margin: auto;
  text-align:center;
  vertical-align: middle;
  text-align:center;
}
#loginBody {
  position: fixed; 
  width: 770px;
  height: 500px;
  top: 50%; 
  left: 50%; 
  margin-top: -250px; 
  margin-left: -385px;
}
#loginTitulo {
  width: 100%;
  height: 280px;
  float: none;
  color : #8A8A8A;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: x-large;
}
#loginData {
  width: 100%;
  height: 120px;
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
}
#loginNotificacion {
  width: 100%;
  height: 90px;
  float: left;
  color: #FF7F50;
  font-weight: bolder;
  vertical-align: bottom;
}
.separador {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.textoDestacado {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFCC00;
}
.boton {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #cb842e;
  width: 90px;
  border: none;
  height: 20px;
}
