<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 	http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc 		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/util 		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/data/jpa	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	    http://www.springframework.org/schema/tx 		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	
    <context:annotation-config />
	
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan" value="com.ceriarte.central.dominio"/>
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
            </bean>
        </property>
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
                <entry key="hibernate.hbm2ddl.auto" value="validate" />
                <entry key="hibernate.format_sql" value="true" />
            </map>
        </property>
    </bean>


    <!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	
	<!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="postgres://fjlhrkozycbqlz:5d4bf39952eb7cfa2d7f889b38a072ae6afdfdd644daeb08254639e7451e5e3b@ec2-174-129-199-54.compute-1.amazonaws.com:5432/d997q193j2fjap" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />
	</bean>-->
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
	
	<context:component-scan base-package="com.ceriarte.central.repository" />
    <tx:annotation-driven transaction-manager="txManager"/>


    <!-- a PlatformTransactionManager is still required -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- (this dependency is defined somewhere else) -->
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<!-- TEST HEROKU DB -->
	<!--<bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name = "driverClassName" value = "org.postgresql.Driver"/>
	   <property name = "url" value = "jdbc:postgresql://ec2-174-129-199-54.compute-1.amazonaws.com:5432/d997q193j2fjap"/>
	   <property name = "username" value = "fjlhrkozycbqlz"/>
	   <property name = "password" value = "5d4bf39952eb7cfa2d7f889b38a072ae6afdfdd644daeb08254639e7451e5e3b"/>
	</bean> -->
	
	<!-- PROD HEROKU DB -->
	<bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name = "driverClassName" value = "org.postgresql.Driver"/>
	   <property name = "url" value = "jdbc:postgresql://ec2-54-147-126-173.compute-1.amazonaws.com:5432/d9il4urrhpkqhv"/>
	   <property name = "username" value = "drdshwsbktjkml"/>
	   <property name = "password" value = "b79fb28901f6b76a32ac5e3d7c3173a0d754e79f2428a3bb100291a05ec30cba"/>
	</bean>
    
    <jpa:repositories base-package="com.ceriarte.central.repository"></jpa:repositories>

</beans>
